  <div class="hero-unit">
    <div class="caption">
      <%= image_tag "avatar-white.png", class: "logo", alt: "Code for Charlotte" %>
      <p>Join the civic technology movement...Queen City Style.</p>
      <p>
        <a href="/projects" class="btn btn-primary">Start Hacking</a>
        <small>or <a href="/mission">Learn More&hellip;</a></small>
      </p>
    </div>
  </div>