<nav class="sidebar left">
  <section class="resources">
    <ul class="nav nav-tabs nav-stacked">
      <h4>Our Tools</h4>
      <li><a href="http://www.meetup.com/Code-For-Charlotte/">Our Meetup Page</a></li>
      <li><a href="https://codeforclt.typeform.com/to/wcYsrE">Our Main Communication Channel</a></li>
      <li><a href="https://github.com/CodeForCharlotte">Our Github Repo</a></li>
      <li><a href="https://waffle.io/codeforcharlotte/welcome">Project Task List</a></li>
      <li><a href="http://eepurl.com/0lA-X">Our Mailing List</a></li>
      <li><a href="http://forum.codefornc.com/category/code-for-charlotte">Our Forum</a></li>
      <h4>Follow Our Social Media</h4>
      <li><a href="https://twitter.com/codeforclt">Twitter</a></li>
      <li><a href="https://www.facebook.com/codeforcharlotte">Facebook</a></li>
      <h4>Open Source Resources</h4>
      <li><a href="http://commons.codeforamerica.org/">CfA Commons</a></li>
      <li><a href="http://opendata.stackexchange.com/">Open Data Stack Exchange</a></li>
    </ul>
  </section>
</nav>