  <nav class="navbar navbar-inverse navbar-fixed-top navbar-site">
    <section class="navbar-inner nav-custom">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><div class="cfcgreen">Code For Charlotte</div></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="http://www.codeforcharlotte.org/get-involved">Get Involved</a></li>
            <li class="dropdown" id="projects">
              <a href="#projects" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="http://www.codeforcharlotte.org/projects">Projects</a>
                </li>
                <li>
                  <a href="http://www.codeforcharlotte.org/project-updates">Project Updates</a>
                </li>
                <li>
                  <a href="http://waffle.io/codeforcharlotte/welcome">Task Lists</a>
                </li>
                <li>
                  <a href="http://www.codeforcharlotte.org/initiatives">Initiatives</a>
                </li>
              </ul>
            </li>
            <li class="dropdown" id="find-us">
              <a href="#about" class="dropdown-toggle" data-toggle="dropdown">Find Us<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.codeforcharlotte.org/events">Events</a></li>
                <li><a href="http://www.codeforcharlotte.org/media">Media</a></li>
                <li><a href="http://www.codeforcharlotte.org/blog">Blog</a></li>
              </ul>
            </li>
            <li class="dropdown" id="team">
              <a href="#team" class="dropdown-toggle" data-toggle="dropdown">The Team<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.codeforcharlotte.org/team/leadership">Leadership</a></li>
                <li><a href="http://www.codeforcharlotte.org/team/brigade">Brigade</a></li>
                <li><a href="http://www.codeforcharlotte.org/team/partners">Partners</a></li>
              </ul>
            </li>
            <li><a href="http://www.codeforcharlotte.org/civic-jobs">Civic Jobs</a></li>
            <li><a href="https://secure.codeforamerica.org/page/contribute/default?custom1=Code%20For%20Charlotte">Donate</a></li>
          </ul>
          <ul class="nav pull-right">
            <a class="brand" href="/"><div class="cfcgreen">Open Budget</div></a>
          </ul>
        </div>
      </div>
    </section>
  </nav>