---
title: Welcome to Charlotte's Open Budget
---

<body class="home-tpl">

  <%= partial :nav %>
  <%= partial :header %>

  <div class="container-fluid">
    <%= partial :left_nav %>

    <section class="content fixed-fixed">
      <section>

        <h3>Welcome to the Open Budget initiative!</h3>

        <p>At Code for Charlotte, we're a volunteer army comprised of citizens, designers, developers, technology geeks and citizen activists who use technology to help solve civic and social problems in our city. Yes! There is a way for <strong>everyone</strong> to contribute.</p>

        <p>We've had the good fortune to work with the City of Charlotte's Finance department with
          the <a href="http://clt.charlotte.opendata.arcgis.com/datasets?q=budget">FY2016 data</a> they've published on <a href="http://www.opencharlotte.net">the City's open data portal</a>.</p>

      </section>

      <section>

        <div>
        <ul id="yeardrop" class="nav menubutton">
          <li  id="yeardrop-container" class="dropdown" style="display:none;">
            <a id="yeardrop-label" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
            <ul id="yeardrop-list" class="dropdown-menu vhscrollable" role="menu">
            </ul>
          </li>
          <li>
          <select id="yeardrop-container-mobile" style="display:none; width:100px; height:28px">
          </select>
        </li>
        </ul>
      </div>


<div class="container" id="avb-body">
	<div class="row-fluid" id="avb-wrap" style="width:auto;">
			</div>
</div>


        <script id="data-expenses" type="application/json">
          <%= partial "expenses" %>
        </script>

        <script type="text/html" id="treemap-template">

        <div id="information-container" class="span6" style="position:relative; padding-left:5px;">

          <div id="information-cards" >

          <!-- entry title -->
            <div class="title-head" style="height:70px;">
              <div style="display:inline-block;" class="text" > </div>
            </div>

            <div id="info-wrap" >
              <div id="slider-wrap">

                <!-- layer chart legend -->
                <div id="legend-wrap">
                  <div class="arrow" style="right:20px;">
                    <i class="icon-chevron-left"></i>
                  </div>
                  <div id="legend-container">
                    <div id="legend" class="separator">
                      <table><tbody></tbody></table>
                    </div>
                  </div>
                </div>

                <!-- info cards -->
                <div id="cards" >
                  <div class="arrow">
                    <i class="icon-chevron-right"></i>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <!-- chart -->
          <div id="chart-wrap" class="row-fluid" >
            <div id='chart' class="chart"> </div>
          </div>
        </div>

        <!-- treemap -->
        <div id="navigation-container" class="span6" >
          <div class="title-head" style="height:70px;">
            <button id="zoombutton" class="btn pull-right">
              <i class="icon-zoom-out"></i> Go back
            </button>
          </div>
          <div id="navigation" >
            <div id="ie-popover">
              <div class="popover-title"></div>
              <div class="text"></div>
              <div class="arrow"> </div>
            </div>
          </div>
        </div>
        </script>

        <!-- card template -->
        <script type="text/html" id="card-template">
          <div class="card {{class}} ">
            <div class="card-img"> </div>
            <div class="card-text">
              <div class="card-value"></div>
              <div class="card-desc"></div>
            </div>
          </div>
        </script>

        <!-- table template -->
        <script type="text/html" id="table-template">
          <div id="table-container" >
            <div class="tablerow" id="table-header" > <div class="bullet"> </div>
          </div>
        </script>

        <!-- table header template -->
        <script type="text/html" id="table-header-template">
          <div class="tablerow" id="table-header" data-level=0>
            <div class="bullet"> </div>
            {{#.}}
              <div class="{{cellClass}} head"> {{title}} </div>
            {{/.}}
          </div>
        </script>

        <!-- table row template -->
        <script type="text/html" id="row-template">
          <div class="tablerow">
            <div class="bullet"> <img class="expand-icon" src="/img/listBullet.png" /> </div>
          </div>
        </script>

        <!-- year dropdown template -->
        <script type="text/html" id="dropdown-template">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">{{.}}</a>
          </li>
        </script>

      </section>
    </div>


    <footer class="site">

      Charlotte Visual Budget is licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2</a> and was created using open source code and data.


      <a href="mailto:jbjers@codeforamerica.org">Contact Us</a>&nbsp;|&nbsp;<a href="http://www.codeforcharlotte.org/road-map">Strategic Plan</a>&nbsp;|&nbsp;<a href="/code-of-conduct">Code of Conduct</a>
      <br>

      <br>Cover photo by <a href="http://www.skimbacolifestyle.com" target="_blank">SKIMBACO Lifestyle</a>.
    </footer>

    <%#= javascript_include_tag 'main' %>
    <%#= javascript_include_tag 'sidebar' %>

  </body>

  </html>